linkml==1.4.5
linkml-dataops==0.1.0
linkml-runtime==1.4.5
linkml-validator==0.4.5
mkdocs>=1.2.1
mkdocs-material>=7.1.9
ruamel.yaml>=0.17.21
typer==0.7.0
pydantic >=2, <3
pyyaml==6.0
openpyxl >= 3.1.2, == 3.*
schemapack==2.0.0a3
